:root{
  --color_princi:#b2d156;
  --color_secu:#B6D3B6 ;
  --color_terce:rgb(70, 40, 70);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#b2d156, #B6D3B6); }
  header h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Alice', serif;
    font-weight: 90;
    height: 100px; 
  }
  .icon{
    height: 50px;
    width: 50px; 
  }

  
  .icon:hover {
    transform: rotate(360deg);
    transition: all 3s;

  }

nav {
  
  border: none; }
  .ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    height: 40px; 
    text-decoration: none;
  }
 

 
  nav a {
    text-decoration: none;
    color: black; }

main img {
  object-fit: cover;
  width: 100%; }

@media screen and (max-width: 600px) {
  #home {
    height: 200px; }
 
  nav {
    height: 100px; }
}



p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1,5;
  text-align: center; 
}
.map{
  width: 100%;
  filter: grayscale(100%)
}

.map:hover{ 
  filter: grayscale(0);
  transition: all 3s
}

@media only screen and (min-width: 600px) {
  #padre {
    display: flex; }
  .hijos {
    width: 70%;
    text-align: center; } }

@media only screen and (min-width: 600px) {
  .secciones {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a1 a2"
                         "a3 a4";
    justify-content: space-evenly;
                                           
  } 
  .sho{
    grid-area: a3;
  }
}

.titulos {
  margin-top: 50px; }

li {
  display: inline-block;
  width: 150px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

body {
  background-color: var(--color_secu);}
body * {
  margin: 0;
  padding: 0; 
}

footer {
  text-align: center;
}


@media screen and (min-width: 600px){
  form {
    width: 400px; 
  }
  
 #home {
  width: 100%;
  height: 400px;
 }
 .enlacess{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: "a1 a2"
                       "a3 a3";
 }
 .trebol{
  width: 25%;
  animation-name: flash;
  animation-duration: 8s;
  animation-iteration-count: infinite;
 }
 .ul:hover{
 transform: scale(1.1, 1.1);
 transition: all 4s;

 }

}

.im{
  width: 100%;
  height: 100%;
} 

@media screen and (max-width: 600px){
  h1 {
    font-size: 40px; 
  }
  #ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;  
  }
  .enlaces {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 98%;
    justify-items: center;
    justify-content: center; 
  } 
  

}

#tit{
  margin-top: 50px;
}

@keyframes flash {
  
  25%{
    filter: grayscale(100%);
    transform: translate(300px, 0px);
  }
  50%{
    filter: grayscale(50%);
    transform: translate(700px, 0px);
  }
 100%{
    filter: grayscale(0%);
    transform: translate(1100px, 0px);
 }  
}

.secc{
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
  height: 40px;
  text-decoration: none;
  color:var(--color_terce)
  
}
@keyframes shop{
  0%{
    filter: grayscale(100%)
  }
  25%{
    filter: grayscale(75%)
  }
  50%{
    filter: grayscale(50%)
  }
  100%{
    filter: grayscale(0%)
  }
}
.shop{
  animation-name: shop;
  animation-duration: 3s;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
.bi-instagram{
  font-size: 25px;
  color: var(--color_terce);
  margin-right: 1250px;
  margin-top: 10px;
}
.bi-emoji-wink-fill{
  color: var(--color_terce);
  font-size: 20px; 
}

.button:hover{
  background-color: rgb(220, 234, 171);
}
.fondo:focus{
  background-color: #dedddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1,5;
}
.ti{
  font-size: calc(15px + 1vw);
}
.msj{
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color_terce);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
.msj--aviso{
  @extend .msj;
}
.msj--avisos{
   @extend .msj;
   background-color: rgb(220, 220, 132);
   color: gray;
}
@mixin cuidados ($color_letra, $color_fondo){
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  color: $color_letra ;
  background-color: $color_fondo;
}
.msj--plant{
  @include cuidados(black,rgb(145, 192, 166))
}
.msj--sucu{
 @include cuidados(rgb(61, 60, 60), rgb(225, 248, 223) )
}
.msj--trepa{
  @include cuidados(rgb(70, 40, 70), rgb(216, 182, 119)
  )
}
.p{
  text-align: left;
  padding-bottom: 15px;
}
h3{
  padding-top: 10px;
}